.header-title{
    color: turquoise;
    padding: 10pt;
}


.page-body{
    width: 100%;
    height: 100%;
    padding: 2em;
    box-align: center;
}

/*
.video-view{
    width: 50%;
    height: 50%;
    border: 10px turquoise;
    border-radius: 10ex;
}
*/